:root{
    --primary-color: white;
    --secondary-color: #1fd8a4;
    --bg-color: #243642;
    --shader-color: #fdfbd4;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.animate__animated.animate__jello{
    --animate-duration: 2s;
  }

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 14px;

}


.darkerText{
    color: var(--secondary-color);
}

header,main,footer{
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;

}

nav{
    color: var(--secondary-color);
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 32px;
}


main,section, .container{
    display: flex;
    flex-direction: column;
}

main{
    gap: 32px;
    padding-bottom: 30px;

}

section{
    gap: 24px;
}

.container{
    gap: 8px;
}

.statscontainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

.img-pro{
    border-radius: 100%;
    max-width: 110px;
    overflow: hidden;

}

.img-pro img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.img-pro:hover{
    /* border: 3px solid gray ; */
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(93, 167, 93, 0.988)
}

.stats{
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
     
}

.stats > div {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 24px;
}

.stats div i{
    font-size: 1.4em;
}

p{
    font-size: 1.05em;
}

.stats div div{
    display: grid;
    place-content: center;
    min-width: 30px;

}

.projcontainer{
    display: flex;
    
}

.aboutMe{
    line-height: 1.5em;
}


.projcontainer{
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.pf{
    margin-top: 25px;
}

.projitem{
    display: flex;
    align-items: stretch;
    gap: 24px;
}

.projitem div:first-child{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.projitem > div:last-child{
    aspect-ratio: 16/9;
    max-width: 30%;
    overflow: hidden;
}

.projitem > div:last-child img{
    width: 100%;
    height: 78%;
    object-fit: cover;
    border-radius: 6px;
}

.linkcontainer{
    display: flex;
    align-items: center;
    gap: 32px;
}

.linkitem{
    display: flex;
    align-items: center;
    gap: 14px !important;
    flex-direction: row !important;
    color: var(--primary-color);
}

.linkitem p{
    font-size: 0.9em;
}

a{
    text-decoration: none;
    transition: ease-in-out 0.5s;

}

a:hover{
    
    padding: 3.5px;
    background-color: white;
    transform:translateX(-5px);
    color: black;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(106, 197, 85, 0.988);

}




/* Media Queries */
@media (min-width: 640px) {
    .statscontainer{
        flex-direction: row;
    }
    .stats{
        gap: 0px;
    }
    .aboutMe{
        width: 80%;
        margin-right: auto;
    }
}



    




